<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>

        *{margin: 0; padding: 0;}
        body{background: #ecf1f4; font-family: sans-serif;}

        .form-wrap{ width: 320px; background: deepskyblue; padding: 40px 20px; box-sizing: border-box; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 20%}
        h1{text-align: center; color: #fff; font-weight: normal; margin-bottom: 20px;}

        input{width: 100%; background: none; border: 1px solid brown; border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #fff;}

        input[type="button"]{ background: brown; border: 0; cursor: pointer; color: brown;}
        input[type="button"]:hover{ background: brown; transition: .6s;}

        ::placeholder{color: darkblue;}

    </style>
</head>
<body>
{% load staticfiles %}
 <div class="form-wrap">
<form action="/index/" method="post">


    {% csrf_token %}
    <table>
        <tr>
            <td>
                <input type="file" value="Choose file">
                <input type="submit" value="Upload">
            </td>
        </tr>

    </table>
{#    <table>#}
{#        <thead>File Name</thead>#}
{#        <thead>Uploaded Date</thead>#}
{#        <thead><input type="submit" value="" </thead>#}
{#    </table>#}

        </form>

 </div>
</body>
</html>