{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>User Details</title>#}
{#</head>#}
{#<body>#}
{#<form action="/index/" method="post">#}
{#    {% csrf_token %}#}
{#<table align="center" border="2">#}
{#<h1 align="center">User Details</h1>#}
{##}
{#    <tr>#}
{#        <td>#}
{##}
{#            <input type="text" name="Email_id" placeholder="Email id" required>#}
{#        </td>#}
{#    </tr>#}
{#     <tr>#}
{#        <td>#}
{##}
{#            <input type="text" name="f_name" placeholder="First Name" required>#}
{#        </td>#}
{#    </tr>#}
{# <tr>#}
{#        <td>#}
{##}
{#            <input type="text" name="m_name" placeholder="Middel Name" required>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{##}
{#            <input type="text" name="l_name" placeholder="last Name" required>#}
{#        </td>#}
{#    </tr>#}
{##}
{##}
{#    <tr>#}
{#        <td>#}
{#            <input type="text" name="designation" placeholder="Designation" required>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            <input type="number" name="mob_no" placeholder="Mobile" required>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{##}
{#            <input type="text" name="location" placeholder="Location" required>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{##}
{#            <input type="text" name="state" placeholder="State" required>#}
{#        </td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>#}
{#            <input type="submit" value="save">#}
{#        </td>#}
{#    </tr>#}
{#</table>#}
{#    </form>#}
{##}
{##}
{#<table>#}
{##}
{##}
{##}
{#    <table align="center" border="2" bgcolor="#FFF">#}
{#                 <tr>#}
{#                        <td>Email Id</td>#}
{#                        <td>First Name</td>#}
{#                        <td>Middel Name</td>#}
{#                        <td>Last Name </td>#}
{#                        <td>Designation </td>#}
{#                        <td>Mobile No</td>#}
{#                        <td>Location</td>#}
{#                        <td>State</td>#}
{#                 </tr>#}
{#                    {% for x in DATA %}#}
{##}
{#                        <tr>#}
{#                        <td>{{ data.Email_id}}</td>#}
{#                        <td>{{ data.f_name }}</td>#}
{#                        <td>{{ data.m_name}}</td>#}
{#                        <td>{{ x.l_name }}</td>#}
{#                        <td>{{ x.designation }}</td>#}
{#                        <td>{{ x.mob_no }}</td>#}
{#                        <td>{{ x.location }}</td>#}
{#                        <td>{{ x.state }}</td>#}
{#                         </tr>#}
{##}
{#                {% endfor %}#}
{#             </table>#}
{##}
{#</table>#}
{#</body>#}
{#</html>#}
{##}
{##}
{#{% extends 'base.html' %}#}
{##}
{#{% load static %}#}
{##}
{#{% block content %}#}
{#  <form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <input type="file" name="myfile">#}
{#    <button type="submit">Upload</button>#}
{#  </form>#}
{##}
{#  {% if uploaded_file_url %}#}
{#    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>#}
{#  {% endif %}#}
{##}
{#  <p><a href="{% url 'home' %}">Return to home</a></p>#}
{#{% endblock %} }#}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link herf="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>User Details</title>
    <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

    <script>
$(document).ready(function(){
  $("#myInput1").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <link rel="stylesheet" type="text/css"
        href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: 'EmployeeService.asmx/GetEmployees',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    var mytableInstance = $('#mytable').myTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        data: data,
                        columns: [
                            { 'data': 'EmailId' },
                            { 'data': 'FirstName' },
                            { 'data': 'LastName' },
                            { 'data': 'Address' },
                            { 'data': 'Designation' },
                            { 'data': 'MobileNO' },
                            { 'data': 'JobTitle' },
                            {
                                'data': 'WebSite',
                                'sortable': false,
                                'searchable': true,
                                'render': function (webSite) {
                                    if (!webSite) {
                                        return 'N/A';
                                    }
                                    else {
                                        return '<a href=' + webSite + '>'
                                            + webSite.substr(0, 10) + '...' + '</a>';
                                    }
                                }
                            },
                            {
                                'data': 'Salary',
                                'render': function (salary) {
                                    return "$" + salary;
                                }
                            },
                            {
                                'data': 'HireDate',
                                'render': function (jsonDate) {
                                    var date = new Date(parseInt(jsonDate.substr(6)));
                                    var month = date.getMonth() + 1;
                                    return month + "/" + date.getDate() + "/" + date.getFullYear();
                                }
                            }
                        ]
                    });


                    $('#datatable tfoot th').each(function () {
                        var title = $('#datatable thead th').eq($(this).index()).text();
                        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    });

                    datatableInstance.columns().every(function () {
                        var dataTableColumn = this;

                        $(this.footer()).find('input').on('keyup change', function () {
                            dataTableColumn.search(this.value).draw();
                        });
                    });
                }
            });
        });
    </script>
</head>

<body>

<div class="container" style="margin-top:35px">
    <h4>Select Number of Rows</h4>
    <div class="form-group">
        <select name="state" id="maxRows" class="form-control" style="width:150px;">
            <option value="5000000">Show All</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="750">750</option>
            <option value="1000">1000</option>

        </select>

    </div>





<form action="/show/" method="get">
<input id="myInput" type="text" placeholder="Search..." align="left">
<tr><td><input type="submit" value="Show" ></td></tr>
    <table  id="mytable" class="table table-bordered table-striped" align="center" border="2" bgcolor="#FFF">
    <thead>
        <tr>
{#                        <td>Id<input id="myInput1" type="text" placeholder="Filter"></td>#}
                        <td>Email Id<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>First Name<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>Middel Name<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td> Last Name <input id="myInput1" type="text" placeholder="Filter"></td>
                        <td> Address <input id="myInput1" type="text" placeholder="Filter"></td>
                        <td> Address1 <input id="myInput1" type="text" placeholder="Filter"></td>
                        <td> Address2 <input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>Designation <input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>Mobile No<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>City<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>State<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>company name<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>company activity<input id="myInput1" type="text" placeholder="Filter"></td>
{#                        <td>company name<input id="myInput1" type="text" placeholder="Filter"></td>#}
                        <td>pin<input id="myInput1" type="text" placeholder="Filter"></td>
                        <td>cin<input id="myInput1" type="text" placeholder="Filter"></td>
{#                        <td>pin code</td>#}
{#                        <td>cin no.</td>#}
{#                        <td>Main activity</td>#}

                 </tr>
            </thead>
                <tbody>
{#                {% for x in user_details %}#}
{#                        {% for y in x %}#}
{#                        <tr>#}
{#                        <td><i><b>{{ x.id }}</b></i></td>#}
{#                        <td>{{ x.Email_id }}</td>#}
{#                        <td>{{ x.f_name }}</td>#}
{#                        <td>{{ x.l_name}}</td>#}
{#                        <td>{{ x.add }}</td>#}
{#                        <td>{{ x.designation }}</td>#}
{#                        <td>{{ x.mob_no }}</td>#}
{#                        <td>{{ x.location }}</td>#}
{#                        <td>{{ x.state }}</td>#}
{#                        <td>{{ x.company_name }}</td>#}
{#                        <td>{{ x.pin }}</td>#}
{#                        <td>{{ x.cin }}</td>#}
{#                        <td>{{ x.main_activ }}</td>#}
{#                         </tr>#}
{#                            {% endfor %}#}
{##}
{#                {% endfor %}#}
                    </tbody>

             </table>

{#                <tr><td><input type="file"><input type="submit" value="upload"></td></tr>#}
        <div class="pagination-container">
            <nav>
                <ul class="pagination">

                </ul>
            </nav>
        </div>
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var table = '#mytable'
    $('#maxRows').on('change', function(){
          $('.pagination').html('')
          var trnum = 0
          var maxRows = parseInt($(this).val())
          var totalRows = $(table+ 'tbody tr').length
          $(table+' tr:gt(0)').each(function(){
              trnum++
              if(trnum > maxRows){
                $(this).hide()
              }
              if(trnum <= maxRows){
                $(this).show()
              }

          })
          if(totalRows > maxRows){
            var pagenum = Math.ceil(totalRows/maxRows)
            for(var i=1;i<=pagenum;){
                $('.pagination').append('<li data-page="'+i+'">\<span>'+ i++ +'<span class="sr-only">(current)</span></span>\</li>').show()
            }
          }
          $('.pagination li:first-child').addClass('active')
          $('.pagination li').on('click',function(){
              var pageNum = $(this).attr('data-page')
              var trIndex = 0;
              $('.pagination li').removeClass('active')
              $(this).addClass('active')
              $(table+' tr:gt(0)').each(function(){
                   trIndex++
                   if(trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
                        $(this).hide()
                   }else{
                        $(this).show()
                   }

              })
          })
    })
    $(function(){
        $('table tr:eq(0)').prepend('<th>ID</id>')
        var id = 0;
        $('table tr:gt(0)').each(function(){
            id++
            $(this).prepend('<td>'+id+'</td>')
        })
    })
</script>



<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>