<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>

        *{margin: 0; padding: 0;}
        body{background: #ecf1f4; font-family: sans-serif;}

        .form-wrap{ width: 320px; background: deepskyblue; padding: 40px 20px; box-sizing: border-box; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 20%}
        h1{text-align: center; color: #fff; font-weight: normal; margin-bottom: 20px;}

        input{width: 100%; background: none; border: 1px solid brown; border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #fff;}

        input[type="button"]{ background: brown; border: 0; cursor: pointer; color: brown;}
        input[type="button"]:hover{ background: brown; transition: .6s;}

        ::placeholder{color: darkblue;}

    </style>
</head>
<body>
{% load staticfiles %}
 <div class="form-wrap">
<form action="/login/" method="post">

    {% csrf_token %}
        <table border="0" align="center">
            <tr>
                <td colspan="2" align="center">
                    <font color="red" face="Arial-Black" size="6">
                        <i>User Login</i>
                    </font>
                    <br>
                    <br>
                </td>
            </tr>

            <tr>


                <td>
                    <input type="text" name="fusername" required placeholder="Username">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="password" name="fpass" required placeholder="Password">
                </td>
            </tr>

             <tr>
                <td align="center">
                    <input type="submit" value ="Login">
                </td>
            </tr>
        </table>


    </form>

 </div>
</body>
</html>